<div class="page-width">
  <div class="text-center">
    <h1>404 Page Not Found</h1>
    <p>The page you requested does not exist.</p>
    <a href="/" class="btn">Continue shopping</a>
  </div>
</div> 